* {
    font-family: 'Kanit', sans-serif;
}

.body {
    background-color: #EFF4F7;
}

.box {
    padding-top: 93px;
    padding-bottom: 90px;
}

.box1 {
    padding-top: 20px;
    padding-bottom: 50px;
}

.box2 {
    padding-top: 120px;
    padding-bottom: 10px;
}

.box3 {
    padding-top: 200px;
    padding-bottom: 10px;
}

.box4 {
    padding-top: 40px;
}

.btnl {
    background: linear-gradient(to right, #0075E4 0%, #00A7FD 100%) !important;
    border: transparent !important;
}

.square {
    border-radius: 30px !important;
    background-color: white;
    height: 180px;
    box-shadow: 5px 5px 5px #C9CDD0 !important;
}

.square:active {
    background: linear-gradient(to right, #0075E4 0%, #00A7FD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.square:focus {
    background: linear-gradient(to right, #0075E4 0%, #00A7FD 100%);
}

.square1 {
    border-radius: 24px !important;
    background-color: white;
    height: 45px;
    box-shadow: 5px 5px 5px #C9CDD0 !important;
}

.square1-1 {
    border-radius: 24px !important;
    background: linear-gradient(to right, #0075E4 0%, #00A7FD 100%);
    height: 45px;
    box-shadow: 5px 5px 5px #C9CDD0 !important;
}

.square1-2 {
    border-radius: 24px !important;
    background: linear-gradient(to right, #0075E4 0%, #00A7FD 100%);
    height: 45px;
    box-shadow: 5px 5px 5px #C9CDD0 !important;
}

.square1-3 {
    border-radius: 24px !important;
    background: linear-gradient(to right, #0075E4 0%, #00A7FD 100%);
    height: 45px;
    box-shadow: 5px 5px 5px #C9CDD0 !important;
}

.square1-4 {
    border-radius: 24px !important;
    background: linear-gradient(to right, #0075E4 0%, #00A7FD 100%);
    height: 45px;
    box-shadow: 5px 5px 5px #C9CDD0 !important;
}

.bar {
    background: linear-gradient(to right, #0075E4 0%, #00A7FD 100%);
    height: 85px;
    box-shadow: 5px 5px 5px #C9CDD0 !important;
}

.ani {
    height: 200px;
}

.boxw {
    border-radius: 24px !important;
    background: white;
    height: 177px;
    box-shadow: 5px 5px 5px #C9CDD0 !important;
}

.ln {
    background-color: #0075E4;
    height: 5px !important;
}

.space {
    letter-spacing: 10px;
}

.lx {
    border-radius: 24px !important;
    background: white;
    height: 30px;
    box-shadow: 5px 5px 5px #C9CDD0 !important;
}

.lg {
    padding-top: 60px;
}